name: checks

runs:
  using: "composite"
  steps:
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip'
    - uses: extractions/setup-just@v1
      name: Setup just
    - name: Initialize Pants
      uses: pantsbuild/actions/init-pants@main
      with:
        # cache0 makes it easy to bust the cache if needed
        gha-cache-key: cache0-py310
        named-caches-hash: ${{ hashFiles('python-default.lock') }}
    - name: Git fetch
      run: git fetch
    - name: format
      run: |
        pants \
          --changed-since=main \
          tailor --check \
          update-build-files --check \
          fmt
      shell: bash
    - name: lint
      run: |
        pants \
          --changed-since=main \
          lint
      shell: bash
    # - name: type checks
    #   run: |
    #     pants \
    #       --changed-since=origin/main \
    #       --changed-dependents=transitive \
    #       check
    #   shell: bash
    - name: test
      run: |
        pants \
          --changed-since=main \
          --changed-dependents=transitive \
          test
      shell: bash
    - name: package
      run: |
        pants \
          --changed-since=main \
          package
      shell: bash
    - name: Upload pants log
      uses: actions/upload-artifact@v3
      with:
        name: pants-log
        path: .pants.d/pants.log
      if: always()
