name: checks

# Were we can define the inputs that our action will accept
inputs:
    version:
        description: "Version of this build (e.g. v1.0.0 or git sha)"
        required: true

runs:
  using: "composite"
  steps:
  - uses: actions/setup-python@v5
    with:
      python-version: '3.10'
  - name: Initialize Pants
    uses: pantsbuild/actions/init-pants@main
    with:
      # cache0 makes it easy to bust the cache if needed
      gha-cache-key: cache0-py310
      named-caches-hash: ${{ hashFiles('python-default.lock') }}
      cache-lmdb-store: 'true'
  - name: 'Luchtmeetnet ingestion'
    run: |
      VERSION=${{ inputs.version }} pants \
        --filter-target-type=docker_image \
        publish dags/luchtmeetnet_ingestion:img
    shell: bash
