apiVersion: batch/v1
kind: Job
metadata:
  name: manual-job-{{ job_name_suffix }}
  namespace: dagster-prd
spec:
  ttlSecondsAfterFinished: 86400 # 1 day
  backoffLimit: 0
  template:
    spec:
      serviceAccountName: dagster-prd
      containers:
      - name: manual-job
        # This refers to "dagster_scripts" docker image
        image: {{ image }}:{{ image_tag }} # Specify version in tag
        command: ["dagster_scripts", "--trace", "{{ command }}"]
        args: [{{ args }}]
        env:
        # These can be used for logging purposes
        - name: JOB_NAME
          value: "manual-job-{{ job_name_suffix }}"
        - name: CONFIG_VERSION
          value: "{{ config_version }}"
        - name: GITHUB_ACTIONS_RUN_ID
          value: "{{ github_actions_run_id }}"
        - name: GITHUB_ACTIONS_URL
          value: "{{ github_actions_url }}"
        - name: DAGSTER_HOST
          value: "dagster-prd-dagster-webserver.dagster-prd.svc.cluster.local"
        - name: DAGSTER_PORT
          value: "80"
        - name: DAGSTER_HOME
          value: "/opt/dagster/dagster_home"
        - name: DAGSTER_PG_PASSWORD
          valueFrom:
            secretKeyRef:
              name: dagster-postgresql-secret2
              key: postgresql-password
        resources:
          requests:
            # Only calling API so very small resource
            #  requirements
            cpu: "100m"
            memory: "64Mi"
        volumeMounts:
        - name: configs-volume
          mountPath: /etc/configs
        - name: dagster-config-volume
          mountPath: /opt/dagster_home/dagster
      volumes:
        - name: configs-volume
          configMap:
            name: job-config
        - name: dagster-config-volume
          configMap:
            name: dagster-config
      # Only try jobs once
      restartPolicy: "Never"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: job-config
  namespace: dagster-prd
data:
  config.yml: |
    {{ config | indent(4) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dagster-config
  namespace: dagster-prd
data:
  dagster.yaml: |
    {{ dagster_config | indent(4) }}
